<li>
    <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            {% if post.lastmod %}
            <span>updated: {{ post.lastmod | date_to_string }}</span>
            {% else %}
            <span>{{ post.date | date_to_string }}</span>
            {% endif %}
        </a>
    </h3>

    {% if include.show_summary == true and post.summary %}
        <p>{{ post.summary | remove: '<p>' | remove: '</p>' }}
        <a class="nowrap" href="{{ post.url }}">Read full article &hellip;</a></p>
    {% endif %}
</li>
